<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Who are we?</h2>
                <hr class="light">
                <p class="text-faded">Hello, I'm Jahziel Villasana! I'm the founder of Signal11. I have a passion for helping others grow and develop in their computing abilities. This passion led me to start Signal11, your one stop shop for computer science and software development mentorship!</p>
                <p class="text-faded">A bit about me: 
                    <ul>
                        <li>I'm a proud Georgia Tech graduate! I graduated with a Bachelor's in Computer Science in 2020.</li>
                        <li>I have over 5 years of experience in the software engineering industry. I've worked at large corporations as well as leading startups.</li>
                    </ul>
                </p> 
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
