<div class="header {{include.headerClass}}">
    <div class="container">
        <div class="logo">
            <!-- <a href="{{site.baseurl}}/"><img alt="signal 11 logo" src="" /></a> -->
        </div>
        <div class="logo-mobile">
            <!-- <a href="{{site.baseurl}}/"
                ><img
                    alt="Figurit Homepage"
                    src="{{site.baseurl}}/assets/images/logo-mobile.svg"
            /></a> -->

            <h1>signal 11</h1>
        </div>
        {% include main-menu.html %} {% include hamburger.html %}
    </div>
</div>
