<div class="footer">
    <div class="container">
        <div class="row footer-inner">
            <div class="col-lg-3">
                <div class="widget mb-4">
                    <h3>About Us</h3>
                    <p>
                        We're a young software development shop with a
                        passion for the Web! Contact us today so we can
                        discuss your project ideas and provide the
                        development services you need.
                    </p>
                </div>
            </div>
            <div class="col-lg-2 pl-4 ml-auto">
                <div class="widget mb-4">
                    <h3>Navigation</h3>
                    <ul class="list-unstyled links">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget mb-4">
                    <h3>Services</h3>
                    <ul class="list-unstyled links">
                        <li><a href="#">Website Building</a></li>
                        <li><a href="#">Web Application</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget mb-4">
                    <h3>Social</h3>
                    <ul class="list-unstyled social">
                        <!-- <li>
										<a href="#"><span class="mr-2 icon-facebook"></span> Facebook</a>
									</li> -->
                        <li>
                            <a href="https://twitter.com/signal__11" target="_blank"><span
                                    class="mr-2 icon-twitter text-rblue"></span>
                                Twitter</a>
                        </li>
                        <!-- <li>
										<a href="#"><span class="mr-2 icon-instagram"></span> Instagram</a>
									</li>
									<li>
										<a href="#"><span class="mr-2 icon-linkedin"></span> Linkedin</a>
									</li>
									<li>
										<a href="#"><span class="mr-2 icon-play"></span> Youtube</a>
									</li> -->
                    </ul>
                </div>
            </div>

            <div class="col-12 mt-5 text-center copyright">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script>
                    All rights reserved | This template is made with
                    <i class="icon-heart text-rblue" aria-hidden="true"></i>
                    by
                    <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</div>
</div>