<!DOCTYPE html>
<html lang="en">
    {{partial "head.html" .}}
    <body>
        <div class="site-wrap">
            {{partial "header.html" .}}

            <main>
                <div class="site-hero">
                    <div class="container">
                        <div
                            class="bg-img"
                            style="
                                background-image: url('images/banner2.jpg');
                                background-position: -150px -70px;
                            "
                        >
                            <blockquote>
                                <p>Signal Eleven: A Software Shop</p>
                                <!-- <div class="author">
									<img src="images/person_1.jpg" alt="Person image" />
									<cite>Nelson</cite>
								</div> -->
                            </blockquote>

                            <div class="cta-box sm-text-white">
                                <h2 class="text-rblue">Bring your vision to the Web</h2>
                                <p class="text-white">
                                    We'd love to engage with your business or start-up
                                    team to help build out your project ideas or create
                                    your presence on the web.
                                </p>
                                <a href="#" class="contact-now">Hire Us Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END site-hero -->

                <div class="site-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4">
                                <a class="service">
                                    <img
                                        src="images/flaticon/svg/web-page.svg"
                                        alt="Image"
                                        class="img-fluid"
                                    />
                                    <h3>Website Building</h3>
                                    <p>
                                        Build your presence on the web and leave
                                        visitors stunned with your beautiful website
                                    </p>

                                    <ul class="list-unstyled services-list">
                                        <li>Small Businesses</li>
                                        <li>Organizations</li>
                                        <li>Churches</li>
                                    </ul>
                                </a>
                            </div>

                            <div class="col-12 col-md-6 col-lg-4">
                                <a class="service">
                                    <img
                                        src="images/flaticon/svg/seo.svg"
                                        alt="Image"
                                        class="img-fluid"
                                    />
                                    <h3>Web Apps</h3>
                                    <p>
                                        We build fast, responsive Web apps with modern
                                        tools like React Hooks and Redux. With our full
                                        stack development experience, we can build out
                                        your dream from design to deployment.
                                    </p>
                                    <ul class="list-unstyled services-list">
                                        <li>React Web App</li>
                                        <li>Redux Integration</li>
                                        <li>JS & TS Development</li>
                                    </ul>
                                </a>
                            </div>

                            <div class="col-12 col-md-6 col-lg-4">
                                <a class="service">
                                    <img
                                        src="images/flaticon/svg/setup.svg"
                                        alt="Image"
                                        class="img-fluid"
                                    />
                                    <h3>Backend Work</h3>
                                    <p>
                                        Develop CRUD Applications with Proper Data
                                        Handling and API Integrations
                                    </p>
                                    <ul class="list-unstyled services-list">
                                        <li>NodeJs</li>
                                        <li>Google Firebase</li>
                                        <li>3rd Party API Integration</li>
                                    </ul>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="site-section">
					<div class="container">
						<div class="half d-md-flex d-block align-items-stretch">
							<a href="single.html" class="img" style="background-image: url('images/work_1.jpg');"> </a>

							<div class="half-content align-self-center">
								<h3>kMix Design</h3>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus possimus, aut
									veniam. Ut minus, possimus quisquam cupiditate magnam nisi pariatur..
								</p>
								<p>
									<strong>Client:</strong> JUVINLE Corp. <br />
									<strong>Date:</strong> 2020
								</p>

								<a href="single.html">View Case Study</a>
							</div>
						</div>

						<div class="half d-md-flex align-items-stretch">
							<a
								href="single.html"
								class="img order-md-2"
								style="background-image: url('images/work_2.jpg');"
							>
							</a>
							<div class="half-content align-self-center">
								<h3>Dieter Rams</h3>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus possimus, aut
									veniam. Ut minus, possimus quisquam cupiditate magnam nisi pariatur..
								</p>
								<p>
									<strong>Client:</strong> XYZ Inc. <br />
									<strong>Date:</strong> 2019
								</p>
								<a href="single.html">View Case Study</a>
							</div>
						</div>
					</div>
				</div> -->
                <!-- END .site-section -->

                <div class="site-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6">
                                <div class="testimonial">
                                    <img src="images/allan.jpg" alt="Image" />
                                    <div class="mb-3">
                                        <h3>Allan Serna</h3>

                                        <span>Co-Founder</span>
                                        <br />
                                        <span class="text-gt"
                                            >Georgia Tech Class of 2020</span
                                        >
                                    </div>
                                    <blockquote>
                                        &ldquo;Super React Enthusiast with a knack for
                                        Design. I love working in the Start-up space and
                                        helping small businesses get their foot on the
                                        ground on the web.&rdquo;
                                    </blockquote>
                                </div>
                            </div>

                            <div class="col-6 col-md-6 col-lg-6">
                                <div class="testimonial">
                                    <img
                                        src="images/jahziel.jpg"
                                        alt="Image"
                                        class="img-fluid"
                                    />
                                    <div class="mb-3">
                                        <h3>Jahziel Villasana</h3>
                                        <span>Co-Founder</span>
                                        <br />
                                        <span class="text-gt"
                                            >Georgia Tech Class of 2020</span
                                        >
                                    </div>
                                    <blockquote>
                                        &ldquo;I'm looking for the joy in computing!
                                        From the kernel to modern Web development, I've
                                        gotten experience up and down the stack. I look
                                        forward to bringing that experience to your next
                                        Web project!&rdquo;
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END .site-section -->
            </main>
            {{partial "footer.html" .}}
        </div>

        {{partial "scripts.html" .}}
    </body>
</html>
